<% provide(:title, 'Edit user') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Update user details</div>
      <div class="panel-body">
        <%= form_for @user, url: user_path do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
          
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          
          <%= f.submit 'Update', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</div>