<div class="thumbnail">
  <section class="post_head">
    <%= gravatar_for(post.user, 60) %>
    <div class="details">
      <p><%= link_to post.user.name, post.user %></p>
      <% if post.created_at %>
        <small><%= time_ago_in_words(post.created_at) %></small>
      <% end %>
    </div>
    <% if current_user?(post.user) %>
      <div class="dropdown float-right">
        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="glyphicon glyphicon-option-horizontal"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><%= link_to "Edit post", edit_post_path(post) %></li>
          <li><%= link_to "Delete post", post_path(post), method: :delete, data: { confirm: "Are you sure?"} %></li>
        </ul>
      </div>
    <% end %>
  </section>
  <p class="post_body">
    <%= post.body %>
  </p>
  <section class="likes">
    <%= render 'shared/likes', post: post %>
  </section>
  <section class="new_comment">
    <%= render 'shared/new_comment', post: post %>
    <%= render post.comments %>
  </section>
</div>