<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for(user) %>
      <div class="details">
        <p><%= link_to user.name, user_path(user) %></p>
        <% if current_user?(user) %>
          <p><%= user.email %></p>
        <% end %>
      </div>
    </section>
    <div class="panel panel-default">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Friends</a></li>
        <li role="presentation"><a href="#">Updates</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod facilis, ratione ut, laudantium illum quia ad eum, voluptatum cumque ab obcaecati soluta delectus eius reprehenderit accusamus autem? Aliquam, id, mollitia.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit error id facilis nesciunt suscipit quia, est animi accusamus quo, veritatis rerum ratione? Saepe maxime sit ab minus aperiam nihil repellat?</p>
    </div>
  </aside>
  <div class="col-md-8">
    <section class="thumbnail">
      <% if @post.nil? %>
        <%= render 'shared/new_post', user: user %>
      <% else %>
        <%= render 'shared/edit_post', user: user, post: @post %>
      <% end %>
    </section>
    <section class="feed">
      <%= render 'shared/feed', user: user %>
    </section>
  </div>
</div>